@import url('https://fonts.googleapis.com/css?family=Titillium Web');




body {
	margin: 0;
	color: #eeeeee;
}

body, h1, a, a:hover {
	font-family: 'Titillium Web', sans-serif;
}

#page-content {
	color: #1a1a1a;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

h1 {
	margin-bottom: 0;
     font-size: 32pt;
}

#name-banner { width: 90%; }

.separator.short { width: 65px; }

.general_flex.nav { margin: 10px; }

div.dot { line-height: 120%; }

h2 {
	margin-bottom: 10px;
	text-align: center;
}

#name-caption {
	text-align: center;
	max-width: 700px;
	margin-top: 0;
}

.contact, a {
	color: #1a1a1a;
}

a:hover {
	color: darkred;
}

a#resume-button-anchor:hover {
     color: darkred;
     font-weight: bold;
}

div#resume-button:hover {
     background-color: #eeeeee;
     border-color: #1a1a1a;
}

#resume-button {
     background-color: darkred;
     border: 3px solid darkred;
     border-radius: 30px;
	width: 100px;
	color: #eeeeee;
}

#resume-button p {
     margin: 0;
     text-align: center;
}

#resume-button p:hover { color: #1a1a1a; }

#resume-button-anchor, .navlink, a {
     text-decoration: none;
}

p, a, span { font-size: 16pt; }

p.tagline {
	text-align: center;
}

a.navlink { font-size: 12pt; font-weight: bold; }

/* .linkedin-badge {
     position: fixed;
     left: 0;
     bottom: 0;
} */

/* MODIFYING BACKGROUND COLOR OF ALL CALENDLY WIDGETS */
._3i0k6___Layout__cls1.mJVDY___Layout__isNotEmbedded { background-color: #eeeeee; }

.LI-badge-container.horizontal.dark, .LI-badge-container.horizontal.dark *, .LI-background {
     border-radius: 5px !important;
     background-color: #1a1a1a !important;
}

.LI-background {
     border: 2px solid black;
     padding: 5px;
}

/* scalable fonts for mobile */
@media only screen and (max-device-width: 1024px) {

     #page {
          width: 85%;
          margin: 0 auto;
     }

	h1 { font-size: 26pt; }
	h2 { font-size: 16pt; }

     #resume-button-anchor {
          width: 50%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
     }

	.LI-badge-container.horizontal.dark, .LI-badge-container.horizontal.dark *, .LI-background {
	     color: darkred;
	}

}

@media only screen and (max-device-width: 500px) {
	p {
		padding: 10px 0;
	}
