@import url('https://fonts.googleapis.com/css?family=Titillium Web');

html.loaded {
     background:
  		linear-gradient(
          	rgba(0, 0, 0, 0.7),
          	rgba(0, 0, 0, 0.7)
          ),
          url("../Resources/background.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

html.loading {
     background-color: black;
}


body {
	margin: 0;
}

body, h1, a, a:hover {
	font-family: 'Titillium Web', sans-serif;
}

#page {
	height: 100%;
	/*background-image: url("background.jpg");*/
	/*opacity: 0.9;*/
}

#page-content {
	/*opacity: 1;*/
	color: white;
	display: flex;
	height: 100vh;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#h1-name {
	margin-bottom: 0;
}

#name-caption {
	text-align: center;
}

.contact, a {
	color: white;
}

a:hover {
	color: red;
}

#resume-button {
     background-color: darkred;
     border: 2px solid #DDD;
     border-radius: 30px;
	width: 80px;
}

#resume-button p {
     margin: 0;
     text-align: center;
}

#resume-button-anchor {
     text-decoration: none;
}

/* scalable fonts for mobile */
@media only screen and (max-device-width: 1024px) {

     #page {
          width: 85%;
          margin: 0 auto;
     }

	h1.scalable_font {
		font-size: 4vmax;
	}

  p.scalable_font, a.scalable_font, span.scalable_font {
    font-size: 2vmax;
  }

  #resume-button {
    width: 10vmax;
  }

  #resume-button-anchor {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

}

